Python Packages:
  openpyxl
  python 3.6
  pytest (for testing...not final application)

Input:
  Must match the .xlsx template provided.
  Female adults column must be filled out.
  Number of floors column must be filled out.
